
<div class="container">
  <h2>My Wishlists:</h2>

  <div *ngIf="todoError?.message">
    <div class="alert alert-danger" role="alert">
      Some error occurred. Please try again
    </div>
  </div>
  <ng-container>
<!--    <div class="row">-->
<!--      <div class="col-md-2">Name:</div>-->
<!--      <div class="col-md-2 todoItem">{{ todo.title }}</div>-->
<!--      <div class="col-md-2">IsCompleted:</div>-->
<!--      <div class="col-md-2 todoItem">{{ todo.isCompleted }}</div>-->
<!--    </div>-->
    <ul class="list-group" *ngFor="let todo of TodoList">
      <li class="list-group-item">{{ todo.id }} | {{ todo.title}} | {{ todo.completed }}</li>
    </ul>
  </ng-container>
</div>

<hr/>

<div class="container form-group" style="margin: 10px;">
  <h3>Create New Wishlist </h3>
  <form (ngSubmit)="createTodo()">
    <div class="row">
      <div class="form-group col-md-4">
        <input
          [(ngModel)]="title"
          placeholder="Enter your wish"
          class="form-control"
          name="title"
          style="min-width: 150px"
        />
      </div>
      <div
        class="col-md-2 form-check"
        style="margin-top: 10px; margin-left: 30px"
      >
        <input
          type="checkbox"
          class="form-check-input"
          id="isCompleted"
          [(ngModel)]="completed"
          name="isCompleted"
        />
        <label for="isCompleted" class="form-check-label">Completed?</label>
      </div>

      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>
</div>
