<div id="wrapper">
  <div [class.loading]="(loading$ | async)" id="shopping-list" *ngIf="!(error$ | async); else error">
    <div id="list">
      <h2>
        Shopping List
      </h2>

        <ul *ngIf="(shoppingItems | async); else noItems">
          <div style="justify-content: space-evenly;">
            <li *ngFor="let shopping of shoppingItems | async" >
              <span>{{ shopping.name }}</span>
              <button class="btn btn-primary ml-5" (click)="showUpdateForm(shopping)">Edit</button>
              <button class="btn btn-danger ml-3" (click)="deleteItem(shopping.id)">Delete</button>
            </li>
            <form *ngIf="isUpdateActivated" (ngSubmit)="updateItem(updateForm)" #updateForm="ngForm" class=" form-inline mt-2">
              <div class="form-group" >
                <input type="text" id="name" name="name" [(ngModel)]="itemToBeUpdated.name" class="form-control ml-4 mr-2">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
          </div>
          
        </ul>

      <ng-template #noItems>
        <ul>
          <li style="max-width:250px;margin:0 auto;">No items found. Are you sure there's <em>nothing</em> you want?</li>
        </ul>
      </ng-template>
    </div>

    <form (ngSubmit)="addItem()" *ngIf="!isUpdateActivated">
      <input type="text" [(ngModel)]="newShoppingItem.name" placeholder="Item" name="itemName"/>
      <button type="submit" >+</button>
    </form>
  </div>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>