<div id="wrapper">
  
  <div id="shopping-list">
    <div id="list">
      <h2>Shopping List</h2>

      <ul *ngFor="let shopping of shoppingItems$ | async">
        <div class="item" style="display: flex; justify-content: space-evenly;">
          <li >
            {{ shopping.name }}
          </li>
          <button (click)="deleteItem(shopping.id)">X</button>
        </div>
      </ul>
    </div>
  </div>
  <form (ngSubmit)="addItem()">
    <input type="text" [(ngModel)]="newShoppingItem.name" placeholder="Item" name="itemName"/>
    <button type="submit" >+</button>
  </form>
</div>